* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
/* mobile nav burger starts here//////////////////////////////////////// */
#mobileView{
    background-color: #00bcd4;
    height:45px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #00bcd4;
    top: 0;  
    position:relative;
  }
      
  #myLinks {
    display: none;  
    background-color: #00bcd4;
  }
          
  .topnav a {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;  
  }     
     
  .burgerMenu{
    display:block;
    position:absolute;
    right:10px;
    top:10px;
    font-size: 40px;
    }
  /* mobile nav burger ends here///////////////////////////////////////////////////////////////// */

  /* desktop nav starts here/////////////////////////////////////////////////////////////////////////// */
  #desNavBar{ 
      background-color: #00bcd4; 
      letter-spacing:1.1px;
  }

  .navList{
    height: 35px;
    display: flex;
    align-items: center;
  }
  
  .navLinks{
      color: white;
      font-size: 16px;
      font-weight: 300;
      padding: 4px 10px;
      text-decoration: none; 
  }

#desNavBar a:hover{
      text-decoration: underline;
      text-decoration-color:white; 
  }
  
#desNavBar{
      display:none;
}
/* desktop nav bar ends here//////////////////////////////////////////////////////////// */


/* hero section starts here/////////////////////////////////////////////////////////////////// */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./kjue_15.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
}


h1{
    font-size: 7vw;
    text-align: center;
    color: white;
    font-weight: 400;
    padding-top: 80px;
    letter-spacing: -2px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.name{
    color: #fff000;
    /* padding left was here */
    font-weight: 400;
    letter-spacing: -2px;
}

.heroP{
    text-align: center;
    color: white;
    font-size: 4vw;
    font-weight: 300;
    letter-spacing: -1.5px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}


/* main section starts here///////////////////////////////////////////////////////////////// */

.sectionH2{
    color: #181818;
    font-weight: 300;
    text-align: center;
    padding: 35px 0px 15px 0px;
    font-size: 35px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}


.sectionP {
    color:#181818;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.5px;
    padding: 0px 15px 0px 15px;
}

/* skills starts here////////////////////////////////////////////////////////////////////////////////////////////// */

#skills{ 
    background-color: #b3ebf2;
}

.skillsL{
     columns: 2;
     -webkit-columns: 2;
     -moz-columns: 2;
     padding-bottom: 10px;
}


li{
    font-size: 14px;
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    letter-spacing: -0.3px;
    line-height: 21px;
}

/* photos section/////////////////////////////////////////////////////////////////////////////////////////// */
.photos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    padding-bottom:20px;
    padding-top: 20px;
}

.photos img{
    height:150px;
    width:150px;
    border-radius: 50%;
}
/* projects section here////////////////////////////////////////////////////////////////////////////////////////// */


#projects{
    background-color: #b3ebf2;
    text-align: center;
    padding-bottom: 40px;
}

.card {
    display:inline-block;
    width: 200px;
    border-radius: 27.4px;
    background-color: white;
    box-shadow: rgba(7, 6, 6, 0.35) 0px 5px 15px;
    height: 200px;
    margin: 25px 10px 0px 10px;  
}

img {
    border-radius: 5px;
    padding: 10px 10px;
    height: 100px;
    width: 100px;
    
}

.card-text {
  text-align: center; 
  text-transform: capitalize;
  color: #181818;
}

.cardH4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.cardP {
    margin-top:10px;
    color: rgb(7, 6, 6,);
    font-weight: 300;
    font-size:16px;
    letter-spacing: 1px;
}

.pLink{
    text-decoration: none;
    color: #333333;
}

.pLink:hover{
    text-decoration: underline;
    text-decoration-color:#00bcd4 ;
}

/* contact form section here/////////////////////////////////////////////////////////////////////////////////////// */


.container {
    width: 350px;
    height: 450px;
    margin:auto;
    padding:20px ;
    background-color: hsla(182, 25%, 50%, 0.181);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
[type="submit"],
textarea {
width: 100%;
padding: 7px 0px 7px 0px;
border: none;
border-radius: 5px;
}

input[type="submit"] 
{
width: 100%;
height: 50px;
background-color: #00bcd4;
color: white;
font-weight: 600;
font-size: 18px;
cursor: pointer;
} 

   
input[type="submit"]:hover {
background-color: #fff000;
color: #181818;
}

label{
font-family: "Poppins" "sans-serif";
font-weight: 300;
letter-spacing: -0.3px;
color: #181818;

}


/* icons for social media start here  */
.iconBtn{
    display:flex;
    justify-content: space-evenly;
}


i{
    font-size: 40px;
    color: #00bcd4;  
    padding: 30px 0px;
}   

/* footer here//////////////////////////////////////////////////////////////////////////////////////// */

footer{
    background-color:#00bcd4;
    color: black;
    font-size: 10px;
    font-weight: 300;
    height: 20px;
}

footer p{
    margin-left: 3px;
}

/* media query to switch mobile nav off at 500px */

@media screen and  (min-width: 500px) {
#mobileView {
        display:none;
    }

    #desNavBar{
        display:block;
    }
}