* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}

.hero{
    background-color: #00bcd4;
    display:flex;
    flex-direction: column;
    height: 70vh;
}

#mobileView{
  background-color: #00bcd4;
}

.topnav {
  overflow: hidden;
  background-color: #00bcd4; 
  top: 0;    
}
    
.topnav #myLinks {
  display: none;
}
    
    
.topnav a {
  color:white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; 
}
    
   
.topnav a.icon {
    background:#00bcd4;
    display: block;
    position: absolute;
    right: 0;
    top: 0; 
}

.burgerMenu{
    font-size: 30px;
  }
#desNavBar{
    display:flex;
    justify-content: flex-start;   
    background-color: #00bcd4; 
    height:20px;
    align-items: center;
    letter-spacing:1.1px;
  }

#desNavBar a{
    color:white;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 10px;
    text-decoration: none; 
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#desNavBar a:hover{
    text-decoration: underline;
    text-decoration-color:white; 
}

#desNavBar{
    display:none;
}

h1{
    font-size: 7vw;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 80px;
    justify-content: center;
    letter-spacing: 1.2px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.name{
    color: #0000ff;
    padding-left: 5px;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.heroP{
    text-align: center;
    color: white;
    font-size: 4vw;
    font-weight: 300;
    justify-content: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}


/* main section starts here///////////////////////////////////////////////////////////////// */
.aboutMe{
    padding-bottom: 20px;
}


#aboutMeH2{
    color:rgb(7, 6, 6,);
    font-weight: 300;
    text-align: center;
    padding: 15px 0px;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.aboutP {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 15px 0px 15px;
}
/* skills starts here////////////////////////////////////////////////////////////////////////////////////////////// */
.skills{ 
    background-color: #b3ebf2;
    padding:20px 0px;
}

#skillsH2{
    color:rgb(7, 6, 6,);
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: 15px 0px 0px 0px;
    letter-spacing:1.1px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
} 

.skillsL{
     columns: 3;
     -webkit-columns: 3;
     -moz-columns: 3;
}


li{
    font-size: 14px;
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    letter-spacing: 1.1px;
}

.softSkills{
    color:rgba(7, 6, 6,);
    font-weight: 300;
    text-align: center;
    padding:20px 0px;
}

.softSkillsH2{
    color:rgba(7, 6, 6,);
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: 15px 0px;
    letter-spacing: 1.1px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
/* photos section/////////////////////////////////////////////////////////////////////////////////////////// */
.photos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    padding-bottom:20px;
}

.photos img{
    height:150px;
    width:150px;
    border-radius: 50%;
}
/* projects section here////////////////////////////////////////////////////////////////////////////////////////// */
.projects{
    background-color: #b3ebf2;
    padding: 20px 0px;
    text-align: center;
}

#projectsH2{
    color:rgba(7, 6, 6,);
    font-weight: 300;
    font-size: 30px;
    padding: 15px 0px;
    letter-spacing:1.1px;
    text-shadow: 2px 2px 3px rgba(7,6,6,0.3);
}

.projectsP{
    font-size: 16px;
    font-weight: 300;
    padding: 0px 0px 15px 0px;
    letter-spacing: 1.1px;
}

.card {
    display:inline-block;
    width: 200px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(7, 6, 6, 0.35) 0px 5px 15px;
    height: 200px;
    margin: 10px;  
}

img {
    border-radius: 5px;
    padding: 10px 10px;
    height: 100px;
    width: 100px;
    
}

.card-text {
  text-align: center; 
  text-transform: capitalize;
  color:rgb(7, 6, 6,);
}

.cardH4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.cardP {
    margin-top:10px;
    color: rgb(7, 6, 6,);
    font-weight: 300;
    font-size:16px;
    letter-spacing: 1px;
}

.pLink{
    text-decoration: none;
    color: #333333;
}

.pLink:hover{
    text-decoration: underline;
    text-decoration-color:#00bcd4 ;
}

/* contact section here/////////////////////////////////////////////////////////////////////////////////////// */
.contactMe{
    padding: 20px 0px;
}

#contactMeH2{
    color:rgba(7, 6, 6,);
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    letter-spacing:1.1px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.container {
    width: 250px;
    margin:auto;
    padding:20px ;
    background-color: hsla(182, 25%, 50%, 0.181);
    border-radius: 6px;
    border: solid 1px rgba(95, 158, 160, 0.578);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
[type="submit"],
textarea {
width: 100%;
padding: 5px 0px 5px 0px;
border: none;
border-radius: 5px;
}

input[type="submit"] {
width: 100%;
background-color: #00bcd4;
color: #333333;
cursor: pointer;
} 

   
input[type="submit"]:hover {
background-color:rgb(255, 255, 27);

}

label{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0,);
    font-size: 12px;
    letter-spacing: 1px;
}

.iconBtn{
    display:flex;
    justify-content: space-evenly;
}


i{
    justify-content: center;
    font-size: 40px;
    color: #00bcd4;  
    padding: 30px 0px;
}   

/* footer here//////////////////////////////////////////////////////////////////////////////////////// */

footer{
    background-color:#00bcd4;
    color: black;
    font-size: 10px;
    font-weight: 300;
    height: 20px;
}

footer p{
    margin-left: 3px;
}

@media screen and  (min-width: 400px) {
#mobileView {
        display:none;
    }

    #desNavBar{
        display:block;
    }
}